body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: #D8D8D8 ;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  margin-top: 0;
  text-align: center;
}

nav{
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  padding: 1rem;
}

a{
  color: #000000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: #6B728E;
} 

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid #454545;
}

.card:hover{
  border: 0.5px solid #009FBD;
}

.card-grid{
  
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 95vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card > a > img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #D8D8D8;

}
td, th {
  border: 1px solid #F6F1F1;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F6F1F1;
}

.dark{
  background-color: #12121296;
  color: #FFFFFF;
}
.dark > a {
  color: #FFFFFF;
}

.dark .text-center .h404 {
  -webkit-text-stroke: 1px #000000;
  color: transparent;

}

.fav {
  color: #F5F300;
}

.inputError{
  -webkit-box-shadow: 0 0 5px 1px #27E1C1;
  -moz-box-shadow: 0 0 5px 1px #27E1C1;
  box-shadow: 0 0 5px 1px #27E1C1;
  border: 1px solid #27E1C1;
}